extends layout

block content
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js") 
  div.container
    h1.text-center= "Reports Product"
    form.row.g-4(action='http://localhost:3000/',method="POST")
      div.col-auto
        label(for='area',class='fw-bold')= "Select Area"
        br
        select#area(name="area",class='form-control',multiple=true)
          each label in labeli 
            option(value=label,selected=label===label) #{label}  
      div.col-auto
        label(for='dateForm',class='fw-bold')= "Date Form"
        br
        input.form-control(type='date',name='dateForm',placeholder='Input Tanggal')
      div.col-auto
        label(for='dateEnd',class='fw-bold')= "Date Form"
        br
        input.form-control(type='date',name='dateEnd',placeholder='Input Tanggal')
      div.col-auto
        br
        button(type ="submit",class="btn btn-primary")= "view" 

      canvas#chartBar 
      script(type='text/javascript').
       var ctx = document.getElementById("chartBar").getContext('2d');
       ctx.canvas.parentNode.style.width = '50%';
        let chart = new Chart(ctx,{
        type:'bar',
        data: {
          labels: !{JSON.stringify(labeli)},
          datasets: [{
            data: [#{datai}],
            backgroundColor:'rgba(54, 162, 235, 1)',

                }]
          },
          options: {
              plugins: {
                  title: {
                      display: true,
                      text: 'Nilai'
                  }
              }
          }
        })
  div.container.mt-5
    table.table.table-striped
      thead 
        td="brand"
        each label in labeli 
          td #{label}
      tbody 
        
        